*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(255, 227, 236);
}
.menu{
    padding-top: 30px;
    width: 100%;
    text-align: right;
}
.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}
a:link, a:visited{
    background-color: #ee8b84;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration:none;
    font-size: 85%;
}
.container{
    background-color: white;
    width: 30%;
    height: 530px;
    margin: 4%;
    margin-left: 30%;
    border-radius: 15px;
    border: 2px solid #f7b2ad;
}
.logo{
    display: flex;
    justify-content: center;
}
.texto{
    margin-left: 10%;
    margin-top: -6%;
}
html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}